/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.zed
/svelte_client/.idea
/svelte_client/node_modules
/nbproject/
/broadcast_server/.idea
/broadcast_server/project/target
/broadcast_server/project/project
/broadcast_server/target/
/broadcast_server/.bsp
/broadcast_server/logs
